{{> testing/header}}

<h2>Hello World</h2>
<p>This is {{name}}</p>

{{#if isImportant}}
    <div>This is important message</div>
{{else}}
    <div>This is not important</div>
{{/if}}

{{#unless isLoggedIn}}
    <div>Please Log in to do something cool</div>
{{/unless}}

<h2>Top Tweets of the day:</h2>

{{#each tweets as |value key|}}
    <p>{{key}}: {{value.user}} posted:</p>
    <div>{{value.tweet}}</div>
    <hr>
{{/each}}
